.wrapper_with_padding
  #note_show
    %h1.title= @note.title
    %br
    %p= simple_format(@note.content)
    
  .buttons
    = link_to "Edit", edit_note_path(@note), class: "button"
    = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "button"