#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook, never forget an idea again.
    %button= link_to "Sign up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."
    %p.name - Michal Mottl

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Vegan skateboard master Vegan skateboard master Dreamcatcher skateboard cray, Dreamcatcher skateboard cray,
      .callout
        %i.fa.fa-rocket
        %h2 Notes
        %p Vegan skateboard master Vegan skateboard master Dreamcatcher skateboard cray, Dreamcatcher skateboard cray,
      .callout
        %i.fa.fa-bolt
        %h2 Notes
        %p Vegan skateboard master Vegan skateboard master Dreamcatcher skateboard cray, Dreamcatcher skateboard cray,
        
#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up!!!
    %button= link_to "Click Meee!", new_user_registration_path
    
%footer
  %p &copy Michal Mottl